@use '../abstracts/mixins' as m;

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-size: 1rem;

  @include m.mq(small) {
    font-size: 3rem;
  }
}

main {
  flex: 1 0 auto;
}
